{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/92fdafb581.js"
      crossorigin="anonymous"
    ></script>
    <title>Recettes django</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'partials/header.html' %} {% block content %}{% endblock %}

    <script src="{% static 'preline/dist/preline.js' %}" type="module"></script>
  </body>
</html>
