{% extends 'core/base.html' %}

{% block content%}

<div class="m-5">
  <a href="{% url 'Recipes' %}"><i class="fa-solid fa-arrow-left text-xl"></i></a>
</div>

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %} class="bg-green-300 text-white p-4 rounded my-4 mx-2"
         {% elif message.tags == 'info' %} class="bg-blue-300 text-white p-4 rounded mb-4"
         {% endif %}  id="flashmessage">
      {{ message }}
    </div>
    {% endfor %}
{% endif %}

<h1 class="text-center m-5 text-xl font-bold mt-5">Details de la recette</h1>


{% if user.is_authenticated %}

<div class="md:flex justify-center">

{% if detailsrecipe.image %}

<div class="md:w-2/5 m-2">
   <img class="rounded w-full h-full object-cover " src="{{detailsrecipe.image.url}}" alt="{{detailsrecipe.name}}">
</div>

{% endif %}
<div class="md:w-3/5 m-2">
   <h3 class="text-xl"><i class="fa-solid fa-tag p-2"></i> {{ detailsrecipe.name }}</h3>
   <p class="text-justify"><i class="fa-solid fa-book p-2"></i>{{detailsrecipe.description}}</p>
   <p><i class="fa-solid fa-clock p-2"></i>{{detailsrecipe.duration}} Minutes</p>
   <p><i class="fa-regular fa-calendar p-2"></i>{{detailsrecipe.created_date|date:'r' }}</p>
   <p><i class="fa-solid fa-arrows-rotate p-2"></i> {{detailsrecipe.updated_date|date:'r'}}</p>
   
   <div class="m-5">
   <a class=" bg-blue-500 hover:bg-blue-700 p-2 text-white rounded" href="{% url 'editRecipe' detailsrecipe.id %}">modifier</a>
   <a class="bg-red-500 hover:bg-red-700 p-2 text-white rounded" href="{% url 'deleteConfirmation' detailsrecipe.id %}">supprimer</a>
   </div>
</div>

</div>



{% endif %}

{% endblock %}